$--greenColor: #81bd41;
$--blueColor: #0c75b9;
$--whiteColor: white;
$--blackColor: black;
$--inactiveGrey: rgb(153, 153, 153);
$--activeGrey: rgb(85, 85, 85);
$--greenColor--hover: #669b2e;
$--lightBGGreen: #EEF8E6;
$--drkTextGrey: #343333;
$--lgtTextGrey: #737576;