.firstContent{
    background-color: $--lightBGGreen;
    padding-top: 6em;
}

.firstContent--container{
    &__heroimg{
        max-width: 400px;
    }
    &__svg{
        margin-top: -75px;
    }
    &__link--container{
        &__link{
            padding: 0em 0.25em;
        }
    }
}