/* defualt resets and for font defaults */
*, *+* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* so when you click an href it scrolls down instead of jumps */
html {
    scroll-behavior: smooth;
  }

/**   remove the arrows on number inputs  **/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}